<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.gdousystem.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.gdou.gdousystem.bean.Student">
        <id column="student_id" jdbcType="CHAR" property="studentId" />
        <result column="student_name" jdbcType="VARCHAR" property="studentName" />
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="student_class" jdbcType="VARCHAR" property="studentClass"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="year" jdbcType="CHAR" property="year"/>
    </resultMap>

    <select id="selectAllStudentsSelective"  resultMap="BaseResultMap">
        SELECT * FROM student WHERE department LIKE #{department} AND major LIKE #{major} AND `year` LIKE #{year}
    </select>
    <select id="selectStudentByStudentId" resultMap="BaseResultMap">
        SELECT * FROM student WHERE student_id=#{studentId}
    </select>
    <update id="updateStudentByStudentId" parameterType="com.gdou.gdousystem.bean.Student">
        UPDATE student SET student_name=#{studentName},department=#{department},major=#{major},phone=#{phone},birthday=#{birthday},student_class=#{studentClass},sex=#{sex},`year`=#{year}
        WHERE student_id=#{studentId}
    </update>
    <select id="selectAllDepartments" resultType="java.lang.String">
        SELECT DISTINCT department FROM student
    </select>
    <select id="selectMajorByDepartment" resultType="java.lang.String">
        SELECT DISTINCT major FROM student WHERE department=#{department}
    </select>
    <select id="selectStudentClassByMajor" resultType="java.lang.String">
        SELECT DISTINCT student_class FROM student WHERE major=#{major}
    </select>
</mapper>