<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdou.gdousystem.dao.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.gdou.gdousystem.bean.Teacher">
        <id column="teacher_id" jdbcType="CHAR" property="teacherId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
    </resultMap>
    <resultMap id="BaseResultMapWithRole" type="com.gdou.gdousystem.bean.Teacher">
        <id column="teacher_id" jdbcType="CHAR" property="teacherId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="major" jdbcType="VARCHAR" property="major"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <collection property="role" ofType="com.gdou.gdousystem.bean.Role">
            <id column="role_id" jdbcType="INTEGER" property="roleId" />
            <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        </collection>
    </resultMap>

    <select id="selectTeacherByTeacherId" parameterType="java.lang.String" resultMap="BaseResultMapWithRole">
        SELECT teacher.*,role.* FROM teacher LEFT JOIN teacher_role ON teacher.`teacher_id`=teacher_role.`teacher_id` LEFT JOIN role ON role.`role_id` = teacher_role.`role_id`
WHERE teacher.`teacher_id`=#{teacherId}
    </select>
    <select id="selectAllTeachersSelective" resultMap="BaseResultMapWithRole">
        SELECT DISTINCT teacher.* FROM teacher LEFT JOIN teacher_role ON teacher.`teacher_id`=teacher_role.`teacher_id` WHERE
        <if test="roleId!=null">
            teacher_role.`role_id` LIKE #{roleId} AND
        </if>
         teacher.username LIKE #{username}
    </select>
    <update id="updatePasswordByTeacherId">
        UPDATE teacher SET password=MD5(#{password}) WHERE teacher_id=#{teacherId}
    </update>
    <delete id="deleteTeacherByTeacherId" parameterType="java.lang.String">
        DELETE FROM teacher WHERE teacher_id=#{teacherId}
    </delete>
    <delete id="deleteRoleByTeacherId" parameterType="java.lang.String">
        DELETE teacher_role.* FROM teacher_role,teacher WHERE teacher.`teacher_id`=teacher_role.`teacher_id` AND teacher_role.`teacher_id`=#{teacherId}
    </delete>
    <insert id="insertTeacherRole">
        INSERT INTO teacher_role(teacher_id,role_id) VALUES(#{teacherId},#{roleId})
    </insert>
    <update id="updateStatusByTeacherId" parameterType="com.gdou.gdousystem.bean.Teacher">
        UPDATE teacher SET status=#{status} WHERE teacher_id=#{teacherId}
    </update>
    <select id="selectTeacherByMajor" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT teacher_id,username FROM teacher WHERE major=#{major} AND status=1
    </select>
</mapper>